<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <title>Title</title>
</head>
<body>

<div class="container-fluid">
    <div class="row content">

        <div th:insert="~{fragments/navigation :: #navigation}"></div>

        <br>
        <div class="col-sm-9">
            <div class="well">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="container">
                            <h2 th:text="#{gr.createannouncement}">createannouncement</h2>
                        </div>
                    </div>
                    <div class="panel-body">

                        <form th:action="@{/announcementform}" method="post" th:object="${announcement}">

                            <div class="form-group">
                                <label for="title" th:text="#{gr.title}">Title</label>
                                <input class="form-control input-lg" id="title" type="text" th:field="*{title}">
                            </div>

                            <div class="form-group">
                                <label for="body" th:text="#{gr.bodyannouncement}">Body</label>
                                <textarea rows="7" class="form-control input-lg" id="body" type="text" th:field="*{body}"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="begin" >Begin</label>
                                <input class="form-control input-lg" id="begin" type="datetime" th:field="*{begin}">
                            </div>

                            <div class="form-group">
                                <label for="end" >End</label>
                                <input class="form-control input-lg" id="end" type="datetime" th:field="*{end}">
                            </div>

                            <div class="container">
                                <div class="dropdown">
                                    <label th:for="departament" th:text="#{account.departament}">Departament</label>
                                    <select th:field="*{departament}" class="btn btn-primary dropdown-toggle">
                                        <option th:each="departament : ${departaments}"
                                                th:value="${departament.getId()}"
                                                th:text="${departament.getName()}">Departaments</option>
                                    </select>
                                </div>
                            </div>

                            <br>

                            <button class="btn btn-lg btn-primary btn-block" type="submit"  th:text="#{gr.createreq}">Создать объявление</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

</body>
</html>