<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>

<div class="container-fluid">
    <div class="row content">

        <div th:insert="~{fragments/navigation :: #navigation}"></div>

        <br>
        <div class="col-sm-4">
            <div class="well">


                <img src="https://stickerboom.ru/files/2015/06/15/3036x845a-300x220.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                <h2 class="bg-danger"> Перестань косячить и соберись ! </h2>

            </div>
        </div>
    </div>
</div>

</body>
</html>