<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Admin board</a></li>
                <li><a href="#">registration</a></li>
                <li><a href="#">Geo</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2 th:text="#{account.departament}">Logo</h2>

            <br>

                <span>
                <a href="?language=en_US">English</a>
                <a href="?language=ru_RU">Русский</a>
                </span>

            <br>
            <br>
            <ul class="nav nav-pills nav-stacked">

                <li><a th:href="@{/index}">Dashboard</a></li>
                <li><a th:href="@{/admin}">Admin panel</a></li>
                <li><a th:href="@{/userdetails}">user details</a></li>
                <li><a th:href="@{/registration}">Registration</a></li>
                <li><a th:href="@{/requestform}">new request</a></li>
                <li><a th:href="@{/announcementform}">new announcement</a></li>
                <li><a th:href="@{/logout}">Выход</a></li>

            </ul><br>
        </div>
        <br>

        <div class="col-sm-9">
            <div class="well">
                <div class="container">
                    <!--<h2>Contextual Classes</h2>-->
                    <!--<p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p>-->
                    <table class="table" >
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Заголовок</th>
                            <th>Создатель</th>
                            <!--<th>Исполнитель</th>-->
                            <th>Департамент</th>
                            <th>Статус</th>
                            <th>Департамент</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="requests : ${requestsByDep}" th:class="${#strings.toLowerCase(requests.getPriority())}">
                            <td><a href="request.html" th:href="@{/request/{requestId} (requestId = ${requests.getId()})}" th:text="${requests.getId()}">ID</a></td>
                            <td th:text="${requests.getTitle()}">Заголовок</td>
                            <td th:text="${requests.getCreator().getLogin()}">Создатель</td>
                            <!--<td th:text="${requests.getExecutor().getLogin().toString()}">Исполнитель</td>-->
                            <!--"${account.number > 0 ? account.number : ''}"-->
                            <td th:text="${requests.getDepartament().getName()}">Департамент</td>
                            <td th:text="${requests.getStatus()}">Статус</td>
                            <td th:text="${#strings.toLowerCase(requests.getPriority())}">Приоритет</td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>

            </div>


            <div class="row">
                <div class="col-sm-8">
                    <div class="well">
                        <p>Обьявки сюда</p>

                        <!--<p th:text="${#authentication.getDetails()}"></p>-->
                        <!--<p th:text="${#authentication.getPrincipal()}"></p>-->
                        <!--<p th:text="${#authentication.getCredentials()}"></p>-->
                        <!--<p th:text="${#authentication.isAuthenticated()}"></p>-->

                        <!--<p th:text="${#authentication.name}"></p>-->
                        <!--<p th:text="${#authentication.toString()}"></p>-->
                        <!--<p th:if="${#authentication.getAuthorities() != 'Admin'} {th:text='NO'}"></p>-->

                        <!--<div th:switch="${#authentication.getAuthorities()}">-->
                            <!--<p th:case="${allUserRole.get(0)}">User is an administrator</p>-->
                            <!--<p th:case="*">User is some other thing</p>-->
                        <!--</div>-->

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>Text</p>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="well">

                        <h4>Количество Юзеров</h4>
                        <p>1 Million</p>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40% Complete (success)
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                50% Complete (info)
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                60% Complete (warning)
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70% Complete (danger)
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">

                        <h4>Количество отделов</h4>
                        <p>100 Million</p>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40% Complete (success)
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                50% Complete (info)
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                60% Complete (warning)
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70% Complete (danger)
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">

                        <h4>Количество заявок</h4>
                        <p>Всего заявок</p>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40% Complete (success)
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                50% Complete (info)
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                60% Complete (warning)
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70% Complete (danger)
                            </div>
                        </div>


                    </div>
                </div>
            </div>







        </div>
    </div>
</div>

</body>
</html>