<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>


    <div class="container">
        <div class="col-md-5 offset-md-5">
            <form th:action="@{/login}" method="post">
                <h2 class="form-signin-heading">Please sign in, or <a th:href="@{/registration}">Register</a></h2>
                <input type="text" name="username" id="username" class="form-control" placeholder="username" required autofocus>
                <br>
                <input type="password" name="password" id="password" class="form-control" placeholder="password" required>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>



</body>
</html>