<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>


    <!--<div class="container">-->
        <!--<div class="col-md-4 offset-md-4">-->
            <!--<form th:action="@{/login}" method="post">-->
                <!--<h2 class="form-signin-heading">Please sign in</h2>-->
                <!--&lt;!&ndash;<br>&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="login">Login: </label>&ndash;&gt;-->
                <!--<input type="text" name="login" id="login" class="form-control" placeholder="login" required autofocus>-->
                <!--<br>-->
                <!--&lt;!&ndash;<label for="password">Password: </label>&ndash;&gt;-->
                <!--<input type="password" name="password" id="password" class="form-control" placeholder="password" required>-->

                <!--<br>-->
                <!--&lt;!&ndash;<label class="checkbox">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="checkbox" value="remember-me"> Remember me&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->


    <form th:action="@{/login}" method="post">
        <label for="login">Custom username: </label>
        <input type="text" name="login" id="login">
        <label for="password">Custom password: </label>
        <input type="password" name="password" id="password">
        <button type="submit">Log in</button>
    </form>


</body>
</html>