<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>

<div class="container-fluid">
    <div class="row content">

        <div th:insert="~{fragments/navigation :: #navigation}"></div>

        <br>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="well">

                        <div class="container">
                            <div class="col-md-4 offset-md-4">
                                <form th:action="@{/regdepartament}" th:object="${departament}" method="post">
                                    <h2 class="form-signin-heading">New Department</h2>

                                    <br>
                                    <label for="name" th:text="#{gr.title}">Title</label>
                                    <input type="text"  id="name" class="form-control" placeholder="name" th:field="*{name}" required autofocus>

                                    <br>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                                    <br>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">

                        <div>
                            <table class="table" >
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Department</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="departamentss : ${allDepartaments}">
                                    <td><a href="departamentdetails.html" th:href="@{/departamentdetails/{departamentId} (departamentId = ${departamentss.getId()})}" th:text="${departamentss.getId()}">ID</a></td>
                                    <td th:text="${departamentss.getName()}">Departament</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>