<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<meta charset="UTF-8">-->
    <title>Title</title>
    <!--<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div class="container">
    <div class="col-md-4 offset-md-4">
        <form th:action="@{/registration}" method="post" th:object="${user}">
            <h2 class="form-registration-heading">Register, or <a th:href="@{/login}">Sign in</a></h2>

            <label th:for="firstName" th:text="#{account.firstName}">First namer</label>
            <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" required autofocus>

            <label th:for="lastName" th:text="#{account.lastName}">Last name</label>
            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" required>

            <label th:for="login" th:text="#{account.login}">Login</label>
            <input type="text" th:field="*{login}" class="form-control" placeholder="Login" required autofocus>
            <label th:for="password" th:text="#{account.password}">Password</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="Password" required>
            <label th:for="email" th:text="#{account.email}">e-Mail</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="eMail" required autofocus>
            <br>

            <div class="container">
                <div class="dropdown">
                <label th:for="departament" th:text="#{account.departament}">Departament</label>
                <select th:field="*{departament}" class="btn btn-primary dropdown-toggle">
                    <option th:each="departament : ${allDepartaments}"
                            th:value="${departament.getId()}"
                            th:text="${departament.getName()}">Departaments</option>
                </select>
            </div>
            </div>

            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>
        </form>
    </div>
</div>

</body>
</html>