<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="col-md-4 offset-md-4">
        <form th:action="@{/registration}" method="post" th:object="${user}">
            <h2 class="form-registration-heading">Registration</h2>
            <label th:for="firstName" th:text="#{account.firstName}">First namer</label>
            <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" required autofocus>
            <label th:for="lastName" th:text="#{account.lastName}">Last name</label>
            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" required>
            <label th:for="login" th:text="#{account.login}">Login</label>
            <input type="text" th:field="*{login}" class="form-control" placeholder="Login" required autofocus>
            <label th:for="password" th:text="#{account.password}">Password</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="Password" required>
            <label th:for="email" th:text="#{account.email}">e-Mail</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="eMail" required autofocus>
            <!--<label th:for="phoneNumber" th:text="#{account.phoneNumber}">Phone Number</label>-->
            <!--<input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="phoneNumber" required autofocus>-->

            <br>


            <!--<div class="container">-->
            <!--<div class="dropdown">-->
            <!--<label th:for="departament" th:text="#{account.departament}">Departament</label>-->
            <!--<select th:field="*{departament}" class="btn btn-primary dropdown-toggle">-->
            <!--<option th:each="departaments : ${allDepartaments}"-->
            <!--th:value="${departaments}"-->
            <!--th:text="${departaments.getName()}">Departaments</option>-->
            <!--</select>-->

            <!--</div>-->
            <!--</div>-->

            <br>

            <!--<div class="container">-->
            <!--<div class="dropdown">-->
            <!--<select class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Departament-->
            <!--<span class="caret"></span>-->


            <!--</select>-->
            <!--<ul class="dropdown-menu">-->
            <!--&lt;!&ndash; Add header here &ndash;&gt;-->
            <!--<li><a href="#">HTML</a></li>-->
            <!--<li><a href="#">CSS</a></li>-->
            <!--<li><a href="#">JavaScript</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->

            <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>
        </form>
    </div>
</div>

</body>
</html>