<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Request</title>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/index}">Dashboard</a></li>
                <li><a href="#">Age</a></li>
                <li><a href="#">Gender</a></li>
                <li><a th:href="@{/logout}">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2>Logo</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a th:href="@{/index}">Dashboard</a></li>
                <li><a href="#section2">Age</a></li>
                <li><a href="#section3">Gender</a></li>
                <li><a th:href="@{/logout}">Выход</a></li>
            </ul><br>
        </div>
        <br>





        <div class="col-sm-9">
            <div class="well">

                <!--<div class="container">-->
                    <!--<h2>Заявка</h2>-->
                    <!--<p>The .table-condensed class makes a table more compact by cutting cell padding in half:</p>-->
                    <!--<table class="table table-condensed">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>Firstname</th>-->
                            <!--<th>Lastname</th>-->
                            <!--<th>Email</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td>John</td>-->
                            <!--<td>Doe</td>-->
                            <!--<td>john@example.com</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Mary</td>-->
                            <!--<td>Moe</td>-->
                            <!--<td>mary@example.com</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>July</td>-->
                            <!--<td>Dooley</td>-->
                            <!--<td>july@example.com</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->


                <div class="panel panel-primary">
                    <div class="panel-heading">


                        <div class="container">
                            <h2 th:text="${request.getTitle()}">Заголовок</h2>
                            <p th:text=" ${request.getId()}">№ заявки</p>
                            <!--th:href="@{/request/{requestId} (requestId = ${requests.getId()})}"-->
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Создатель</th>
                                    <th>Дата создания</th>
                                    <th>Статус</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${request.getCreator().getLogin()}">Создатель</td>
                                    <td th:text="${request.getCreate()}">Дата создания</td>
                                    <td th:text="${request.getStatus()}">Статус</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <div class="panel-body" th:text="${request.getBody()}">Тело заявки</div>
                </div>


                <!--requestAnswers-->
                <div class="panel panel-primary" >
                    <div class="panel panel-info" th:each="reqAns : ${requestAnswers}">
                        <div class="panel-heading">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Создатель</th>
                                    <th>Дата создания</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${reqAns.getRespondent().getLogin()}">Создатель</td>
                                    <td th:text="${reqAns.getAnswerDate()}">Дата создания</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-body" th:text="${reqAns.getBody()}">Panel Content</div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Форма ответа на заявку</div>
                        <div class="panel-body">Panel Content</div>
                    </div>
                </div>

            </div>


            <!--<div class="row">-->
                <!--<div class="col-sm-3">-->
                    <!--<div class="well">-->
                        <!--<h4>Users</h4>-->
                        <!--<p>1 Million</p>-->
                        <!--<p th:text="${#authentication.name}"></p>-->
                        <!--<p th:text="${#authentication.toString()}"></p>-->
                        <!--<p th:text="${#authentication.getAuthorities()}"></p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<div class="well">-->
                        <!--<h4>Pages</h4>-->
                        <!--<p>100 Million</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<div class="well">-->
                        <!--<h4>Sessions</h4>-->
                        <!--<p>10 Million</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<div class="well">-->
                        <!--<h4>Bounce</h4>-->
                        <!--<p>30%</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="well">-->
                        <!--<p>Text</p>-->
                        <!--<p>Text</p>-->
                        <!--<p>Text</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="well">-->
                        <!--<p>Text</p>-->
                        <!--<p>Text</p>-->
                        <!--<p>Text</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="well">-->
                        <!--<p>Text</p>-->
                        <!--<p>Text</p>-->
                        <!--<p>Text</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-8">-->
                    <!--<div class="well">-->
                        <!--<p>Text</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="well">-->
                        <!--<p>Text</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>



</body>
</html>