<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>


<div class="container-fluid">
    <div class="row content">

        <div th:insert="~{fragments/navigation :: #navigation}"></div>

        <br>
        <div class="col-sm-9">
            <div class="well">

                <div>
                    <!--<h2>Contextual Classes</h2>-->
                    <!--<p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p>-->
                    <table class="table" >
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th th:text="#{gr.title}">Заголовок</th>
                            <th th:text="#{gr.creator}">Создатель</th>
                            <th th:text="#{gr.department}">Департамент</th>
                            <th th:text="#{gr.status}">Статус</th>
                            <th th:text="#{gr.priority}">Приоритет</th>
                            <th th:text="#{gr.datecreate}">Дата создания</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="requests : ${allRequestsByDepWithPageWithClose}" th:class="(${requests.getPriority()} == ${requests.getPriority().VERYHIGH} ? 'danger' : 'active' )">
                            <td><a th:href="@{/request/{requestId} (requestId = ${requests.getId()})}" th:text="${requests.getId()}">ID</a></td>
                            <td th:text="${requests.getTitle()}">Заголовок</td>
                            <td th:text="${requests.getCreator().getLogin()}">Создатель</td>
                            <td th:text="${requests.getDepartament().getName()}">Департамент</td>
                            <td th:text="${#strings.toLowerCase(requests.getStatus())}">Статус</td>
                            <td th:text="${#strings.toLowerCase(requests.getPriority())}">Приоритет</td>
                            <td th:text="${#temporals.format(requests.getCreate(), 'dd-MM-yyyy HH:mm')}">Дата создания</td>
                        </tr>

                        </tbody>

                    </table>

                    <ul class="pagination" th:each="pages : ${pagesToClose}">
                        <li><a th:href="@{/requestclose/{page} (page = ${pages})}" th:text="${pages}">1</a></li>
                    </ul>

                    <ul class="pager">
                        <li><a href="/requestopen/1">Открытые заявки</a></li>
                        <li><a href="/requestclose/1">Закрытые заявки</a></li>
                    </ul>
                </div>



            </div>


            <div class="row">
                <div class="col-sm-8">
                    <div class="well">


                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <h4>Pages</h4>
                        <p>Ё-моё куда нас бросили</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>