<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Request</title>
</head>
<body>

<div class="container-fluid">
    <div class="row content">

        <div th:insert="~{fragments/navigation :: #navigation}"></div>

        <br>
        <div class="col-sm-9">
            <div class="well">

                <div class="panel panel-primary">
                    <div class="panel-heading">


                        <div class="container">
                            <h2 th:text="${findRequest.getTitle()}">Заголовок</h2>
                            <p th:text="${findRequest.getId()}">№ заявки</p>
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Создатель</th>
                                    <th>Дата создания</th>
                                    <th>Статус</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${findRequest.getCreator().getLogin()}">Создатель</td>
                                    <td th:text="${findRequest.getCreate()}">Дата создания</td>
                                    <td th:text="${findRequest.getStatus()}">Статус</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <div class="panel-body" th:text="${findRequest.getBody()}">Тело заявки</div>
                </div>

                <!--requestAnswers-->
                <div class="panel panel-primary">
                    <div class="panel panel-info" th:each="rqAnsw : ${rqAnswers}">
                        <div class="panel-heading">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Создатель</th>
                                    <th>Дата создания</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${rqAnsw.getRespondent().getLogin()}">Создатель</td>
                                    <td th:text="${rqAnsw.getAnswerDate()}">Дата создания</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="panel-body" th:text="${rqAnsw.getBody()}">ответ</div>

                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Форма ответа на заявку</div>
                        <div class="panel-body">

                            <form th:action="@{/request/{requestId} (requestId = ${findRequest.getId()})}" method="post"
                                  th:object="${newAnswer}">


                                <div class="container">
                                    <div class="dropdown">
                                        <label th:for="priority" th:text="#{rq.priority}">Departament</label>
                                        <select name="priority" class="btn btn-primary dropdown-toggle">
                                            <option th:each="priority : ${priorityes}"
                                                    th:value="${priority}"
                                                    th:text="${#strings.capitalize(#strings.toLowerCase(priority))}">
                                                Priority
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <br>

                                <div class="container">
                                    <div class="dropdown">
                                        <label th:for="status" th:text="#{rq.status}">Status</label>
                                        <select name="status" class="btn btn-primary dropdown-toggle">
                                            <option th:each="status : ${statuses}"
                                                    th:value="${status}"
                                                    th:text="${#strings.capitalize(#strings.toLowerCase(status))}">
                                                Status
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <input type="hidden" name="reqId" th:value="${findRequest.getId()}"></input>

                                <div class="form-group">
                                    <label for="body" th:text="#{gr.bodyreq}">Body</label>
                                    <textarea rows="7" class="form-control input-lg" id="body" type="text"
                                              th:field="*{body}"></textarea>
                                </div>

                                <br>
                                <br>

                                <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{gr.answered}">
                                    Ответить
                                </button>
                            </form>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

</body>
</html>